*{
    margin: 0;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fbfcfbe7;
    gap: 2px;
}


.home h1{
    font-size: 80px;
    font-weight: 1000;
    color: black    ;
    font-family: 'Open Sans', sans-serif;
}